# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix , accuracy_score, precision_score, recall_score, f1_score , classification_report
from sklearn.model_selection import train_test_split
from scipy.stats import boxcox

In [2]:
df = pd.read_csv('/kaggle/input/logistic-regression/Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
df.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [4]:
df = df.join(pd.get_dummies(df['Gender']).astype('int64'))

In [5]:
df.drop(['Gender'] , axis =1 , inplace = True)

In [6]:
df

      User ID  Age  EstimatedSalary  Purchased  Female  Male
0    15624510   19            19000          0       0     1
1    15810944   35            20000          0       0     1
2    15668575   26            43000          0       1     0
3    15603246   27            57000          0       1     0
4    15804002   19            76000          0       0     1
..        ...  ...              ...        ...     ...   ...
395  15691863   46            41000          1       1     0
396  15706071   51            23000          1       0     1
397  15654296   50            20000          1       1     0
398  15755018   36            33000          0       0     1
399  15594041   49            36000          1       1     0

[400 rows x 6 columns]

In [7]:
df.corr()

,User ID,Age,EstimatedSalary,Purchased,Female,Male
User ID,1.000000,-0.000721,0.071097,0.007120,0.025249,-0.025249
Age,-0.000721,1.000000,0.155238,0.622454,0.073741,-0.073741
EstimatedSalary,0.071097,0.155238,1.000000,0.362083,0.060435,-0.060435
Purchased,0.007120,0.622454,0.362083,1.000000,0.042469,-0.042469
Female,0.025249,0.073741,0.060435,0.042469,1.000000,-1.000000
Male,-0.025249,-0.073741,-0.060435,-0.042469,-1.000000,1.000000

In [8]:
fle  = df.copy()

In [9]:
fle.drop(['Female' , 'Male'] , axis = 1 , inplace = True)

In [10]:
fle.corr()

                  User ID       Age  EstimatedSalary  Purchased
User ID          1.000000 -0.000721         0.071097   0.007120
Age             -0.000721  1.000000         0.155238   0.622454
EstimatedSalary  0.071097  0.155238         1.000000   0.362083
Purchased        0.007120  0.622454         0.362083   1.000000

In [11]:
fle.drop(['User ID' ] , axis = 1 , inplace = True)

In [12]:
fle.corr()

                      Age  EstimatedSalary  Purchased
Age              1.000000         0.155238   0.622454
EstimatedSalary  0.155238         1.000000   0.362083
Purchased        0.622454         0.362083   1.000000

In [13]:
X = fle.drop(['Purchased'  , "EstimatedSalary"] , axis = 1)
Y = fle.Purchased

In [14]:
x , xt , y , yt = train_test_split(X , Y , test_size=0.2 , random_state=42)

In [15]:
lg1  = LogisticRegression()

In [16]:
lg1.fit(x,y)

LogisticRegression()

In [17]:
yp = lg1.predict(xt)

In [18]:
print(classification_report(yt , yp))

              precision    recall  f1-score   support

           0       0.91      0.96      0.93        52
           1       0.92      0.82      0.87        28

    accuracy                           0.91        80
   macro avg       0.91      0.89      0.90        80
weighted avg       0.91      0.91      0.91        80